<template>
  <li>
    <div>{{ person.name }}</div>
    <div>{{ person.email }}</div>
    <button @click="$emit('delete-person', person.id)">Delete person</button>
  </li>
</template>

<script>
// Dumb (presentational) component -is passed what it needs via props, and can have local state
export default {
  name: "Person",
  props: {
    person: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  &:not(:last-child) {
    border-bottom: 1px solid $app-shade-grey-dark;
  }
}
</style>
