<template>
  <ul>
    <Person
      v-for="person in people"
      :key="person.id"
      :person="person"
      @delete-person="$emit('delete-person', $event)"
    />
  </ul>
</template>

<script>
// Dumb (presentational) component -is passed what it needs via props, and can have local state
import Person from "@/components/Person";
export default {
  name: "PersonList",
  props: {
    people: {
      type: Array,
      required: true,
    },
  },
  components: {
    Person,
  },
};
</script>

<style lang="scss" scoped>
ul {
  padding: 1rem;
  list-style-type: none;
}
</style>
