<template>
  <body class="app">
    <header>
      <img alt="Vue logo" src="@/assets/vue-logo.svg" />
      <h1>Tour of people</h1>
    </header>

    <main>
      <div v-if="hasPeople">
        <div class="app__person-count-container">
          <p>Total number of people:{{ peopleCount }}</p>
        </div>

        <div class="app__person-filter-container">
          <label for="search">Search for person</label>
          <input
            placeholder="Person name"
            v-model="searchStr"
            type="search"
            id="search"
          />

          <div v-if="searchStr">
            <span>Number of search results: {{ filteredPeopleCount }}</span>
          </div>
        </div>

        <PersonList
          :people="filteredPeople"
          @delete-person="onDeletePerson($event)"
        />
      </div>
      <div v-else>
        <p>No people found</p>
        <button @click="fetchPeople()">Fetch people</button>
      </div>
    </main>
  </body>
</template>

<script>
// Smart (container) component -is responsible for fetching data, and 'owns' the people
import PersonList from "@/components/PersonList";
export default {
  name: "App",
  components: {
    PersonList,
  },

  created() {
    // Created is a Vue lifecycle method
    this.fetchPeople();
  },
  // data is the data which this component owns and is responsible for
  data: () => {
    return {
      people: [],
      searchStr: "",
    };
  },
  computed: {
    // a computed getter - it is smart enough to know what it depends on ('people') and only re-runs the function when it knows the people array has changed.
    peopleCount: function () {
      return this.people.length;
    },
    hasPeople: function () {
      return !!this.peopleCount;
    },
    filteredPeople: function () {
      const search = this.searchStr.toLowerCase().trim();
      if (!search) {
        return this.people;
      }
      return this.people.filter(
        (person) => person.name.toLowerCase().indexOf(search) > -1
      );
    },
    filteredPeopleCount: function () {
      return this.filteredPeople.length;
    },
  },
  methods: {
    onDeletePerson(id) {
      this.people = this.people.filter((person) => person.id !== id);
      this.searchStr = "";
    },
    async fetchPeople() {
      const response = await fetch(
        "https://jsonplaceholder.typicode.com/users"
      );
      this.people = await response.json();
    },
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@300&display=swap");

h1 {
  font-weight: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $app-shade-grey-dark;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.5rem;
}

main {
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid $app-color-1;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 40px;
  margin-right: 40px;
}

.app__person-count-container {
  background-color: $app-color-1;
  padding: 1rem;
  color: $app-shade-white;
}

.app__person-filter-container {
  background-color: $app-shade-grey;
  padding: 1rem;
  color: $app-shade-grey-dark;
}
</style>
